{% extends 'car_dealer/base.html' %}
{% block content %}
{% csrf_token %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" name = "csrf_token" content="{{ csrf_token }}">
    <title>The Auto One</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{%static 'images/icons/favicon.ico' %}"/>
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{%static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{%static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{%static 'vendor/animate/animate.css' %}">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="{%static 'vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{%static 'vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{%static 'css/util.css' %}">
        <link rel="stylesheet" type="text/css" href="{%static 'css/main.css' %}">
    <!--===============================================================================================-->
    </head>
    <body>
    
      
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Registered Successfully !</h4>
        <p>Now go to the <a class="w3-btn w3-teal" href="/customer_portal/login/">Login Page<a> and Login !</p>
        <hr>
      </div>

    
{% comment %} <div class="w3-bar w3-black">
  <div class="w3-bar-item w3-left">Registration Form</div>
  <a class="w3-bar-item w3-right w3-btn w3-teal" href="/customer_portal/login/">Login</a>
  <a class="w3-bar-item w3-right w3-btn w3-teal" href="/">Home</a>
</div>
<div class="w3-center">
<p class="w3-large">
Registered Successfully !
</p>
<p class="w3-large">
Now go to the <a class="w3-btn w3-teal" href="/customer_portal/login/">Login Page<a> and Login !
</p>
</div> {% endcomment %}

    
        
    
        
    <!--===============================================================================================-->	
        <script src="{%static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{%static 'vendor/bootstrap/js/popper.js' %}"></script>
        <script src="{%static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{%static 'vendor/select2/select2.min.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{%static 'vendor/tilt/tilt.jquery.min.js' %}"></script>
        <script >
            $('.js-tilt').tilt({
                scale: 1.1
            })
        </script>
    <!--===============================================================================================-->
        <script src="{%static 'js/mains.js' %}"></script>
    
    </body>
    </html>
{% endblock %}

